.container{
  background-image: url('./sequence.jfif');
  height: 95vh;
  padding: 1%;
  font-family: 'Goudy Bookletter 1911', serif;
  background-size: cover;
  background-position: center;
  font-size: 130%;
  display: flex;
}
.ipContent{
border: 1px solid grey;
height: fit-content;
padding: 3%;
border-radius: 10px;
margin: 5% 10% 0px 5%;
width: 35vw;
text-align: center;
}
.opContent{
  height: fit-content;
  padding: 3%;
  border-radius: 10px;
  margin: 5% 10% 0px 5%;
  width: 35vw;
  text-align: center;
  font-size: 130%;
}
input{
  background: none;
  border: none;
  border-bottom: 2px solid darkgreen;
  font-size: 100%;
  font-family: 'Goudy Bookletter 1911', serif;
  padding: 1%;
  margin-left: 20px;
  outline: none;
}
button{
  background: rgb(1, 56, 1);
  border: 1px solid rgb(1, 56, 1);
  padding: 10px 30px 10px 30px;
  font-size: 100%;
  color: white;
  font-family: 'Goudy Bookletter 1911', serif;
  border-radius: 5px;
  margin-top: 40px;
}
button:hover{
  cursor: pointer;
  border: 5px solid rgb(17, 100, 17);
  padding: 5px 25px 5px 25px;
  transition-duration: 0.1s;
}